canvas {
  width: 600px;
  height: 600px;
  border: 5px solid black;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.color-container {
  display: flex;
}

.color-option {
  width: 50px;
  height: 50px;
  cursor: pointer;
}
